{% extends "base.html" %}

{% block content %}

    <div class="banner" style ="padding:150px;">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <h2>About Us:</h2>
                </div>
                <br>
                <div class="col-lg-6">
                      <ul class="list-inline intro-social-buttons">
                            <li><a href="/contact" class="btn btn-default btn-lg"> <span class="network-name">Get In Touch</span></a>
                            </li>
                            <li><a href="/#services" class="btn btn-default btn-lg"> <span class="network-name">What We Offer</span></a>
                            </li>
                           
                        </ul>
                </div>
            </div>

        </div>
     
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="row">
        <div class="col-md-8">
        	<div class="jumbotron" style="background-color:white;">
	
        	<h2>MSG Communications</h2>
        	<br>
        	<p>MSG Communications is a Los Angeles-based media-training agency that works around the globe. Founded by award-winning journalist Michael Goldstein, MSG Communications uses video-based media training to prepare clients for media exposure such as in-person, telephone, Internet and television interviews, press tours, tradeshows and crisis situations.</p>
        	<p>Working closely with a company's public relations counsel, MSG Communications helps focus executives on press opportunities and shape their messages for media, analysts and the public. MSG Communications also provide clients related writing services, such as white papers and presentations..</p>
        	<p>Clients of MSG Communications media training services include HID Global, Warner Brothers, EA
Gaming, iFILM, Broadcom, Texas Instruments DLP, Hitachi Global Storage, Rogers & Cowan, Shopzilla,
SanDisk and National Semiconductor (in the U.S., Japan, Europe and Hong Kong), among others. Client
GODTUBE.COM was featured on Nightline after training Mr. Goldstein provided, while an associate of a major movie star used MSG Communications media training to help position herself as a singer/songwriter, rather than as a tabloid target.</p>
        	<p>A unique media training benefit MSG Communications offers clients is Mr. Goldstein’s 15 years of

journalism expertise with the Los Angeles Times, LA Weekly, New York Daily News, Variety, Car + Driver, 

Presentations, Successful Meetings and PC LapTop.</p>
        	<p>In June 2007, Mr. Goldstein won first place for Feature/Commentary in the Los Angeles Press Club’s 49th

Annual Journalism Awards. The award was for his LA Times West story “The Other Beating,” about George

Holliday, the man who taped the Rodney King beating. A five-time finalist for the LA Press Club Awards, 

Mr. Goldstein has also been quoted as a media trainer on NPR’s Marketplace.</p>

<p>With this background, MSG Communications gives an inside understanding of how journalists think, what

they’re looking for and how to best frame a company’s story for the press.</p>
<p>MSG Communications leverages its industry experience to coach and “grill” clients in personalized training 

sessions, to prepare them for tough press questions. Mock interviews are videotaped, replayed and critiqued

in a positive, supportive atmosphere, teaching executives how to create an agenda, address probing questions,

present key corporate messages and understand the spokesperson’s rights and responsibilities during an 

interview.</p>
<p>Working with PR counsel, MSG Communications can also help participants develop TIPS, Targeted

Information Points, which are key messages on the company, products, management, technologies and 

market opportunities.</p>
<p>With these tools and techniques, MSG Communications helps executives learn to address questions, advance

the agenda for the interview, and to redirect probing questions to the company’s message, so they can face 

the media and audiences with confidence.</p>
<p>MSG Communications works strictly with companies on a confidential Non-Disclosure Agreement (NDA)

basis. All sensitive materials remain within the training sessions.</p>
     
		</div>       
    </div>
    <!--/col md8-->


        <div class="col-md-4">

           
                  
                    	<h2>MSG Communications Clients</h2>
                    	<ul>
                    		<li>3LCD</li>
                    		<li>Alcatel</li>
                    		<li>Broadcom</li>
                    		<li>Compaq Computer</li>
                    		<li>Epson</li>
                    		<li>HID Global</li>
                    			<li>LSI Logic</li>
                    		<li>National Semiconductor</li>
                    		<li>Rogers & Cowan Public Relations</li>
                    		<li>SanDisk</li>
                    		<li>Shopzilla</li>
                    		<li>Symantec</li>
                    		<li>Texas Instruments</li>
                    		<li>Travelscape</li>
                    		<li>Warner Brothers</li>
                    		<li>Zoran</li>



                    	</ul>


                    	<h2>MSG Communications Publication List</h2>
                    	<p>MSG Communications founder Michael Goldstein is an award-winning journalist. Some of his credits:</p>
                    	<ul style = "font-style:italic;">
                    		<li>Car + Driver</li>
                    		<li>LA Weekly</li>
                    		<li>New York Daily News</li>
                    		<li>OC Weekly</li>
                    		<li>Orange Coast Magazine</li>
                    		<li>PC Laptop</li>
                    		<li>Portable Design</li>
                    		<li>Presentations</li>
                    		<li>Princeton Alumni Weekly</li>
                    		<li>Succesful Meetings</li>
                    		<li>The Los Angeles Times</li>
                    		<li>United Hemispheres</li>
                    		<li>Variety</li>


                    	</ul>




                  

                    

                   
     
       

    	</div>
    	<!-- /col-md-4 -->




     
      </div>
      <!--/about columns-->


        




 









{% endblock %}