<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Slider</title>

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "slider/css/bootstrap.min.css" %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "slider/css/slidercss.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
   

  <style type="text/css"></style></head></head>
<body>
<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">What I do</a></li>
        <li><a href="/#sec2">Who I've worked for</a></li>
        <li><a href="/#sec3">How we can help</a></li>
        <li><a href="/#sec4">Contact</a></li>
      </ul>
    </div>
   </div>
</div>




<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Want to know more?</h1>
        <p class="lead">Interested?</p>
      </div>
    </div>
  </div>
</div>

</body>