{% extends "base.html" %}

{% block content %}

    <div class="banner" style ="padding:150px;">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <h2>About Us:</h2>
                </div>
                <br>
                <div class="col-lg-6">
                      <ul class="list-inline intro-social-buttons">
                            <li><a href="/contact" class="btn btn-default btn-lg"> <span class="network-name">Get In Touch</span></a>
                            </li>
                            <li><a href="/#services" class="btn btn-default btn-lg"> <span class="network-name">What We Offer</span></a>
                            </li>
                           
                        </ul>
                </div>
            </div>

        </div>
     
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="row">
        <div class="col-md-8">
        	<div class="jumbotron" style="background-color:white;">
	
        	<h2>The 10 Media Golden Rules</h2>
        	<br>
<ul class="list-group">
            <li class="list-group-item">1. Meeting the media is an opportunity, not a threat</li>

<li class="list-group-item">2. Brief yourself thoroughly</li>

<li class="list-group-item">3. Set your own agenda</li>

<li class="list-group-item">4. Brand, brand, brand – your company, your product, yourself</li>

<li class="list-group-item">5. Take control – offer information</li>

<li class="list-group-item">6. Be polite, patient and pleasant</li>

<li class="list-group-item">7. Communicate simply and clearly</li>

<li class="list-group-item">8. Answers should be accurate and short</li>

<li class="list-group-item">9. Don’t lie, don’t guess, don’t speculate</li>

<li class="list-group-item">10. Concentrate on the interviewer</li>

</ul>
        
     
		</div>       
    </div>
    <!--/col md8-->


        <div class="col-md-4">

           
                  
                    	<h2>MSG Communications Clients</h2>
                    	<ul>
                    		<li>3LCD</li>
                    		<li>Alcatel</li>
                    		<li>Broadcom</li>
                    		<li>Compaq Computer</li>
                    		<li>Epson</li>
                    		<li>HID Global</li>
                    			<li>LSI Logic</li>
                    		<li>National Semiconductor</li>
                    		<li>Rogers & Cowan Public Relations</li>
                    		<li>SanDisk</li>
                    		<li>Shopzilla</li>
                    		<li>Symantec</li>
                    		<li>Texas Instruments</li>
                    		<li>Travelscape</li>
                    		<li>Warner Brothers</li>
                    		<li>Zoran</li>



                    	</ul>


                    	<h2>MSG Communications Publication List</h2>
                    	<p>MSG Communications founder Michael Goldstein is an award-winning journalist. Some of his credits:</p>
                    	<ul style = "font-style:italic;">
                    		<li>Car + Driver</li>
                    		<li>LA Weekly</li>
                    		<li>New York Daily News</li>
                    		<li>OC Weekly</li>
                    		<li>Orange Coast Magazine</li>
                    		<li>PC Laptop</li>
                    		<li>Portable Design</li>
                    		<li>Presentations</li>
                    		<li>Princeton Alumni Weekly</li>
                    		<li>Succesful Meetings</li>
                    		<li>The Los Angeles Times</li>
                    		<li>United Hemispheres</li>
                    		<li>Variety</li>


                    	</ul>




                  

                    

                   
     
       

    	</div>
    	<!-- /col-md-4 -->




     
      </div>
      <!--/about columns-->


        




 









{% endblock %}