<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Slider</title>

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "slider/css/bootstrap.min.css" %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "slider/css/slidercss.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
   

  <style type="text/css"></style></head>

  <body>






<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#sec1">What I do</a></li>
        <li><a href="#sec2">Who I've worked for</a></li>
        <li><a href="#sec3">How we can help</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
   </div>
</div>

<div class="header alt vert">
  <div class="container">
    
    <h1>MSG Communications</h1>
      <p class="lead">Solving your communications needs, since...forever</p>
      <div>&nbsp;</div>
      <a href="#sec1" class="btn btn-default btn-lg">Get Started</a>
  </div>
</div>


 <div class="featurette" id="sec1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>What I do</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
       
      </div>
    </div>
  </div>
</div>

{% if last_2_slides %}
   
    {% for Slide in last_2_slides %}

        <div class="blurb">
         
  <div class="container">
    <div class="row">
      
      <div class="col-md-9">
        <h1 class="pull-left"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/5c708a2c9d25d1f2e4195ece1f1c684d?s=80"></h1>
        </div>

        <div class="col-md-3">
        <h1>{{Slide.header}}</h1>
        <p class="lead">{{Slide.body}}</p>
       

      </div>
      
    </div>
  </div>
</div>
    {% endfor %}
    
{% else %}
    <p>No Slide Objects available.</p>
{% endif %}





<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>People I've worked for...According to me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <img class="img-circle grayscale" src="http://www.gravatar.com/avatar/5c708a2c9d25d1f2e4195ece1f1c684d?s=80">
          <h4>IBM</h4>
          <p>Up-up-and-away with this starter template.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-magnet"></i>
          <h4>Apple</h4>
          <p>For you are a magnet and I am steel.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-shield"></i>
          <h4>Tech_company</h4>
          <p>Protect yourself. Don't design like it's 1999.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-pencil"></i>
          <h4>Scholar</h4>
          <p>Because lead pencils are pretty smart looking.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="sec3">
  <div class="vert">
    <div class="col-md-12 text-center"><h2>How We Can Help</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="row hidden-xs">
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/5c708a2c9d25d1f2e4195ece1f1c684d?s=80"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/3bb38f66f79ca138f318af89fe6b02ec?s=80"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/3423a3e32fda92a5aaed72c7cde3849c?s=80"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/325b6c3c0a75bfdb72822035bb556826?s=80"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/cdd69340b0cfac4c7acb892e3ea7556e?s=80"></div>  
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://www.gravatar.com/avatar/889778901fb1522dac2846ffe62bd960?s=80"></div>
     </div>
    </div>
  </div>
</div>

<div class="blurb" id="sec4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Mobile-first</h1>
        <img src="/assets/example/bg_smartphones.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<hr>

<div class="gallery">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h5>This Template is Responsive</h5>
        <h2>Features Galore</h2>
        <br>
      </div>
  </div>
  
  <div class="container well well-lg">
    
    <div class="row">
    		
      	<div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-film"></i></span> Carousel</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-folder-close-alt"></i></span> Tabs</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-credit-card"></i></span> Modal</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-reorder"></i></span> Navigation</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-mobile-phone"></i></span> Mobile-first</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-align-justify"></i></span> Accordion</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-list-alt"></i></span> Panel</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-check"></i></span> Form</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-table"></i></span> Table</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-eye-open"></i></span> Icons</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-th"></i></span> Responsive Grid</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="text-success"><i class="icon-font"></i></span> Typography</a>
          </div>
        </div>      
    </div>
  </div>
</div>

<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1><i class="icon-plane icon-3x"></i></h1>
      </div>
      <div class="col-md-7">
        <h1 class="pull-right">Launch Your Web Design</h1>
        <p class="lead pull-right">With this Responsive Bootstrap Template</p>
      </div>
    </div>
  </div>
</div>



<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Sharing the Bootstrap Love</h3>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        <hr>
     
      </div>
    </div>
  </div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>

{% load staticfiles %}
    <script type ="text/javascript" src="{% static "slider/jquery.js" %}"></script>
    {% load staticfiles %}
    <script src="{% static "slider/js/bootstrap.js" %}"></script>
   

</body></html>