{% extends "base.html" %}
{% block content %}




 <div class="intro-header">

        <div class="containe-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MSG Communications</h1>
                        <h3>Excellence in media-training, messaging, and public relations since 1988.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="/contact" class="btn btn-default btn-lg"> <span class="network-name">Get In Touch</span></a>
                            </li>
                            <li><a href="#services" class="btn btn-default btn-lg"> <span class="network-name">What We Offer</span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Information Age is over. <br>The Communications Era is here.</h2>
                    <p class="lead">Computers, the Internet, social media and constant connectivity have brought us an unceasing flood of

information. But getting your voice heard and your message out over the noise has become increasingly difficult. 

The ability to communicate is key, whether you’re talking one-on-one or to thousands of people.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/ipad.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Craft a story strong enough to cut through the flak in today's digital overload.</h2>
                    <p class="lead">We’ll help you develop your individual or corporate messages and practice them in a supportive

environment. Customers, investors, or a skeptical press: get through to all of them with <strong>crisp</strong> messaging.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/interview.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We've helped hundreds master the interview and create compelling stories.</h2>
                    <p class="lead">We’ll help you develop messages and sound bites that will stay with

viewers, listeners and readers. We’ll show how to create a compelling elevator pitch, a 60-second version of 

the story you want to tell.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/phones.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
      <a id="services" class="anchor"></a>
      <section class="container-fluid" id="section1" style="color:#777;">

    <div class="banner">


        <div class="container">

         
                    <h2>What we Offer:</h2>
                
        </div>
       
        <!-- /.container -->



        </div>
      </section>
        <!-- /.container -->
<section class="container-fluid" id="section1" style="padding:30px;" >
  <h1 class="text-center v-center">MSG Communications Services</h1>
  <br>
  <br>
  <div class="row" id="row1">
      <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 ">
              <span class="glyphicon glyphicon-user" style="font-size:50px;"></span>
              <h3 >Media Training and Message Point Development</h3>

      <p>MSG Communications has offered media training to potential spokespeople since 2001. Groups of up to four 
 
executives get ready to meet the press in stimulating four-hour sessions.</p><p> The video-based training program 

prepares clients for media exposure such as in-person, telephone and television interviews, press tours, 

tradeshows and crisis situations. In a challenging but enjoyable session, you’ll learn what the media is looking 

for and how to address their needs as a spokesperson. We’ll show how to create an agenda and support it 

with message points. </p>
              <i class="fa fa-cog fa-5x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 ">
               <span class="glyphicon glyphicon-wrench" style="font-size:50px;"></span>
              <h3>Interview Training and Preparation </h3>
              <p>MSG Communications helps individuals prepare for difficult questions and indifferent interviewers as well. In a

challenging but enjoyable session, you’ll create your own agenda for an interview and learn to support it with 

message points.</p>
<p>We’ll help you learn how to address the “open question” and put together an elevator pitch

that will tell your story in 60 seconds. And we’ll practice with you via telephone or Skype until you develop a 

new feeling of confidence.</p>



</div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 text-center">
               <span class="glyphicon glyphicon-list-alt" style="font-size:50px;"></span>
               <h3>Writing Services</h3><p>MSG Communications also offers writing services, using skills honed over 15 years with major U.S. publications. 

Capabilities include white papers, contributed articles, speeches and PowerPoint presentations.</p></div>
          </div>
      </div>
  </div>
</section>

    <!-- /.content-section-a -->




     <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Ready to get started?</h1>
                        <br>
                         <hr class="intro-divider">
                      
                        <ul class="list-inline intro-social-buttons">
                             <li><a href="/contact" class="btn btn-default btn-lg"><span class="network-name">Get in Touch</span></a>
                            </li>
                           
                        </ul>

                       
                        <h3>Or learn more at our <a href= "/blog">blog </a></h3>
                       
                           
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   





{% endblock %}