{% extends "base.html" %}
{% block content %}




 <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MSG Communications</h1>
                        <h3>Excellence in media-training, messaging, and public relations since 1980.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Missed Media Opportunities
                        <br>Can Kill your bottom-line</h2>
                    <p class="lead">Maximize your upside asdasd...<a target="_blank" href="http://join.deathtothestockphoto.com/">Visit their website</a> to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/ipad.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get ready for
                        <br>opportunitiess</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by PSDCovers! <a target="_blank" href="http://www.psdcovers.com/">Visit their website</a> to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/doge.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and
                        <br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     {% load staticfiles %}
                    <img class="img-responsive" src="{% static "slider/img/phones.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
      <a id="services" class="anchor"></a>
      <section class="container-fluid" id="section1" style="color:#777;">

    <div class="banner">


        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Our Solutions:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
       
        <!-- /.container -->



        </div>
      </section>
        <!-- /.container -->
<section class="container-fluid" id="section1" >
  <h1 class="text-center v-center">Sectionalize.</h1>
  <br>
  <div class="row" id="row1">
      <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 text-center">
              <span class="glyphicon glyphicon-user" style="font-size:50px;"></span>
              <h3>Robust</h3>

              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <i class="fa fa-cog fa-5x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
               <span class="glyphicon glyphicon-list-alt" style="font-size:50px;"></span>
              <h3>Simple</h3><p>You may also want to create content that compells users to scroll down more..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>
              <p>There is other content and snippets of details or features that can be placed here..</p>

              <i class="fa fa-user fa-5x"></i></div>
          </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-10 text-center">
               <span class="glyphicon glyphicon-wrench" style="font-size:50px;"></span>
               <h3>Clean</h3><p>In the first 30 seconds of a user's visit to your site they decide if they're going to stay..</p><i class="fa fa-mobile fa-5x"></i></div>
          </div>
      </div>
  </div>
</section>

    <!-- /.content-section-a -->




     <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Ready to get started?</h1>
                        <h3>Get in touch</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                           
                        </ul>
                        <h3>Or learn more at our blog</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   





{% endblock %}